@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

/* :root {
  --primary-dark: #caad05;
  --primary-light: #709dff;
} */


@layer base {
  html {
    @apply scroll-smooth
  }

  body {
   @apply font-[Poppins];
  
  
  }

  li {
    @apply p-4 text-sm
  }

  button {
    @apply px-4 py-2 border rounded-md bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white
  }

 
}

@keyframes flip {
  from {
    transform: perspective(400px) rotateY(0);
  }
  to {
    transform: perspective(400px) rotateY(180deg);
  }
}

.card-flip {
  animation-name: flip;
  animation-duration: 1s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}


